<div class="order-outer-wrapper">
  <div class="order-wrapper border-radius box-shadow">
    <table class="product-table">
        <tbody>
          <tr *ngFor="let product of currentOrder?.items">
            <td *ngIf="product?.image != null" class="product-image-wrapper box-shadow border-radius">
              <img class="product-image" [src]="base64Base + product?.image" [routerLink]="['/product/' + product?.id]">
              <span class="product-quantity">{{product?.quantity}}</span>
            </td>
            <td *ngIf="product?.image === null" class="product-image-wrapper box-shadow border-radius">
              <span class="no-image-text">
                Kein Bild vorhanden
              </span>
            </td>

            <td class="product-info">
                <span>
                    {{product?.description}}
                </span>
            </td>
            <td>
                {{product?.amount / 100 | number : '1.2-2'}} {{product?.currency}}
            </td>
          </tr>

          <tr>
            <td class="order-sum-cell"></td>
            <td class="order-sum-cell">Summe</td>
            <td class="order-sum-cell">{{currentOrder?.amount/ 100 | number : '1.2-2'}} {{currentOrder?.currency}}</td>
          </tr>
        </tbody>
      </table>

    <a *ngIf="currentOrder?.status === 'accepted' && currentOrder?.invoice != null && currentOrder?.invoice != ''" [href]="currentOrder?.invoice">
      Rechnung herunterladen
    </a>
    <ngx-loading [show]="isLoading"></ngx-loading>
  </div>
</div>
