<div class="order-outer-wrapper">
  <div class="order-wrapper border-radius box-shadow">
    <table class="product-table">
        <tbody>
          <tr *ngFor="let product of currentOrder?.items">
            <td *ngIf="product?.image != null" class="product-image-wrapper box-shadow border-radius">
              <img class="product-image" [src]="base64Base + product?.image" [routerLink]="['/product/' + product?.id]">
              <span class="product-quantity">{{product?.quantity}}</span>
            </td>
            <td *ngIf="product?.image == null" class="product-image-wrapper box-shadow border-radius">
              <img class="fallback-image" src="assets/fallback_image.png">
              <span class="product-quantity">{{product?.quantity}}</span>
            </td>
            <td class="product-info">
                <span>
                    {{product?.description}}
                </span>
            </td>
            <td>
                {{product?.amount / 100 | number : '1.2-2'}} {{product?.currency}}
            </td>
          </tr>

          <tr>
            <td class="order-sum-cell"></td>
            <td class="order-sum-cell">Summe</td>
            <td class="order-sum-cell">{{currentOrder?.amount/ 100 | number : '1.2-2'}} {{currentOrder?.currency}}</td>
          </tr>
        </tbody>
      </table>

    <a *ngIf="currentOrder?.status === 'accepted' && currentOrder?.invoice" [href]="currentOrder?.invoice">
      Rechnung herunterladen
    </a>
    <button *ngIf="currentOrder?.status === 'accepted' && !currentOrder?.invoice" class="refresh-page-button" (click)="refreshPageButtonEvent()">
    <span>Seite bitte aktualisieren, um auf die Rechnung zugreifen zu können</span>
    </button>


    <button class="refresh-page-button" *ngIf="currentOrder?.status === 'accepted'
      && currentOrder?.invoice && !currentOrder?.deliveryStatus" (click)="refreshPageButtonEvent()">
      <span>Lieferstatus noch nicht verfügbar.<br/> Bitte versuchen Sie es in 5 min erneut!</span>
    </button>

    <div *ngIf="currentOrder?.status === 'accepted' && currentOrder?.deliveryStatus" class="delivery">
      <table class="delivery-info-table" cellspacing="0">
        <tbody>
          <tr class="delivery-row">
            <td class="delivery-column">
            <h4> Lieferstatus: </h4>
            </td>
          </tr>
          <tr class="delivery-row">
            <td class="delivery-column">
              <h6 class="delivery-status">{{ currentOrder?.deliveryStatus.status }}</h6>
            </td>
          </tr>
          <tr class="delivery-row">
            <td class="delivery-column">
            <h4> Kommentar vom Lieferanten: </h4>
            </td>
          </tr>
          <tr class="delivery-row">
            <td class="delivery-column">
              <span class=delivery-comment>{{ currentOrder?.deliveryStatus.comment }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngx-loading [show]="isLoading"></ngx-loading>
  </div>
</div>
