.navbar {
    height: 100%;
    position: absolute;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: -1px;
}

button {
    margin: 3px;
    position: relative;
    height: 42px;
    width: 50px;
}

.cart-counter {
    position: absolute;
    top: -5px;
    right: 1px;
    font-size: 10px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--c7);
  padding: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: fixed;
}
