<div class="create-product-wrapper">
  <div class="overview-wrapper border-radius box-shadow">
    <form class="user-information-form" [formGroup]="informationForm" autocomplete="off">
      <fieldset>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" placeholder="Name" maxlength="50"
          [class.invalid-input]="informationForm.controls['name'].invalid
          && (informationForm.controls['name'].dirty || informationForm.controls['name'].touched)"/>


        <label for="amount">Preis
          <div class="tooltip">
            <div class="icon" icon iconName="info-circle"></div>
            <div class="right">
              <div class="text-content">
                <h6>Bitte Zahl kommagetrennt und mit zwei Nachkommastellen angeben!</h6>
              </div>
            </div>
          </div>
        </label>
        <input id="amount" type="number" formControlName="amount" placeholder="Preis" min="0" value="0" step=".01"
          [class.invalid-input]="informationForm.controls['amount'].invalid
          && (informationForm.controls['amount'].dirty || informationForm.controls['amount'].touched)"/>

        <label for="description">Beschreibung</label>
        <textarea id="description" formControlName="description" placeholder="Beschreibung" maxlength="450"
          [class.invalid-input]="informationForm.controls['description'].invalid
          && (informationForm.controls['description'].dirty || informationForm.controls['description'].touched)">
        </textarea>

        <label for="image">Bild
          <div class="tooltip">
            <div class="icon" icon iconName="info-circle"></div>
            <div class="right">
              <div class="text-content">
                <h6>Bild darf nicht größer als 300KB sein!</h6>
              </div>
            </div>
          </div>
        </label>
        <input type="file" formControlName="image" id="image" accept="image/png, image/jpeg" (change)="onFileChanged($event)"
          [class.invalid-input]="informationForm.controls['image'].invalid
          && (informationForm.controls['image'].dirty || informationForm.controls['image'].touched)"/>


        <label for="createProductButton"></label>
        <input id="createProductButton" type="button" class="button" (click)="onSubmit()" value="Produkt anlegen">
      </fieldset>

    </form>
    <ngx-loading [show]="isLoading"></ngx-loading>
  </div>
</div>
