.modal-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 998;
  background-color: #495057a8;
}

.modal-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
}

.icon:hover {
  cursor: pointer;
}

.close-icon {
  position: absolute;
  right: 3em;
  top: 3em;
}
