.product-list {
    display: flex;
    flex-direction: column;
    height: calc(100% - 4rem);

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.column {
    margin: 0.5rem;
    padding: unset;
}

.pagination-buttons {
    display: flex;
    margin-top: auto;
    align-self: center;
}

.pagination-buttons > button {
    margin: 2px
}

.button:focus {
    background-color: #9b4dca;
}

.button:active {
    filter: brightness(0.8);
}