<td class="item-image-wrapper box-shadow border-radius">
  <img class="item-image" [src]="base64Base + item.product.image" [routerLink]="['/product/' + item.product.id]">


  <span class="item-quantity">{{item.quantity}}</span>
</td>
<td class="item-info" [routerLink]="['/product/' + item.product.id]">
  <span>
      {{item.product.name}}
  </span>
</td>
<td>
  {{item.quantity * item.product.amount / 100 | number : '1.2-2'}} {{item.product.currency}}
</td>

<td>
  <button (click)="onEditQuantity(-1)" class="button-small">
      <div icon class="icon" iconName="cart-dash-fill" iconAlt="Minus Icon"></div>
  </button>
  <button (click)="onEditQuantity(1)" class="button-small">
      <div icon class="icon" iconName="cart-plus-fill" iconAlt="Plus Icon"></div>
  </button>
  <button (click)="onRemoveItem()" class="button-small">
      <div icon class="icon" iconName="cart-x-fill" iconAlt="Entfernen Icon"></div>
  </button>
</td>
