.homepage-wrapper {
    width: 100%;
    min-height: 100%;
    min-width: 998px;
    display: flex;
    justify-content: center;
}

.products-wrapper {
  min-height: calc(100% - 16px);
  background-color: var(--c7);
  margin: 8px;
  position: relative;
}

@media screen and (max-width: 1120px) {
  .homepage-wrapper {
    margin-left: 75px;
  }
}
