<form class="username-form" [formGroup]="informationForm" autocomplete="off">
  <fieldset>
    <label for="username">Username</label>
    <input id="username" type="text" formControlName="username" placeholder="Username" maxlength="50"/>

    <label for="password">Passwort</label>
    <input id="password" type="password" formControlName="password" placeholder="Passwort" maxlength="50"/>


    <label for="button"></label>
    <input id="button" type="button" class="button" (click)="onSubmit()" value="Produkt anlegen">
  </fieldset>
</form>
<!-- <ngx-loading [show]="isLoading"></ngx-loading> -->
