<div class="cart-wrapper">
  <div class="overview-wrapper border-radius box-shadow">
    <cart-item-list (changeItemQuantity)="changeQuantity($event.id, $event.amount)" (removeItemFromCart)="removeFromCart($event)" [items]="itemsInCart" [totalSum]="currentSumCart"></cart-item-list>
    <cart-user-information #cartUserInformation
      (createOrder)="createOrder($event.cardNumber, $event.email, $event.country, $event.state, $event.city, $event.zip, $event.address1, $event.address2, $event.address3 )" [cartSum]="currentSumCart">
    </cart-user-information>
    <ngx-loading [show]="isLoading"></ngx-loading>
  </div>
</div>
