<div class="create-product-wrapper">
  <div class="overview-wrapper border-radius box-shadow">
    <form class="user-information-form" [formGroup]="informationForm" autocomplete="off">
      <fieldset>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" placeholder="Name" maxlength="50"/>

        <label for="amount">Preis</label>
        <input id="amount" type="number" formControlName="amount" placeholder="Preis" min="0" value="0" step=".01"/>

        <label for="description">Beschreibung</label>
        <textarea id="description" formControlName="description" placeholder="Beschreibung" maxlength="450"></textarea>

        <label for="image">Bild</label>
        <input type="file" formControlName="image" id="image" accept="image/png, image/jpeg" (change)="onFileChanged($event)">

        <label for="button"></label>
        <input id="button" type="button" class="button" (click)="onSubmit()" value="Produkt anlegen">
      </fieldset>
    </form>
  </div>
</div>
