<td class="item-picture">
  Produktbild

  <span class="item-quantity">{{item.quantity}}</span>
</td>
<th>
  {{item.product.name}}
</th>
<td>
  <button class="button-small">
      <div icon class="icon" iconName="cart-dash-fill" iconAlt="Minus Icon"></div>
  </button>
  <button class="button-small">
      <div icon class="icon" iconName="cart-plus-fill" iconAlt="Plus Icon"></div>
  </button>
  <button class="button-small">
      <div icon class="icon" iconName="cart-x-fill" iconAlt="Entfernen Icon"></div>
  </button>
</td>
<td>
  {{item.quantity * item.product.amount}} {{item.product.currency}}
</td>
